<div class="clearBoth"></div>
<!-- footer start -->
<footer id="footer">

   <section class="footer-copyright">
        <p>Copyright©2014-2016 Run Co.,Ltd.All Rights Reserved.</p>
        <div>
            <a><img src="<?=Resource?>images/manage-system/temp/p1.png" width="80" height="30"></a>
            <a><img src="<?=Resource?>images/manage-system/temp/p2.png" width="80" height="30"></a>
            <a><img src="<?=Resource?>images/manage-system/temp/p3.png" width="80" height="30"></a>
			<a><img src="<?=Resource?>images/manage-system/temp/p4.png" width="80" height="30"></a>
			<a><img src="<?=Resource?>images/manage-system/temp/p5.png" width="80" height="30"></a>
        </div>
    </section>
</footer>
<!-- footer end -->
</body>
</html>