<aside class="subnav" id="subnav">
    <dl>
        <dt>首页</dt>
        <!--<dd class="current"><a href="/index/menumodifypwd/">修改密码</a></dd>-->
        <dd><a href="/index/index/">用户管理</a></dd> 
        <dd><a href="/log/index/">用户登陆管理</a></dd> 
        <dd ><a href="/index/upload/">上传excel并导入库</a></dd> 
        <dd ><a href="/index/filecache/">文件缓存的使用</a></dd>
        <dd ><a href="/index/memcache/">memcache</a></dd>
        <dd ><a href="/redis/">redis</a></dd>
        <dd ><a href="/echarts/">echarts统计</a></dd>
    </dl>
</aside>