<?php $action = getModule();?>
<div class="navbar">
    <div class="inner">
        <ul>
            <li class="<?php if(isset($action)&&$action=='index'){echo 'active';} ?>">
                <a href="/index/index/">
                    <span class="icon-w">
                        <i class="icon icon-1"></i>
                    </span>
                    首页
                </a>
            </li>
            <li class="<?php if(isset($action)&&$action=='game'){echo 'active';} ?>">
                <a href="/game/index/">
                    <span class="icon-w">
                        <i class="icon icon-2"></i>
                    </span>
                    游戏
                </a>
            </li>
            <li class="<?php if(isset($action)&&$action=='shop'){echo 'active';} ?>">
                <a href="/shop/index/">
                    <span class="icon-w">
                        <i class="icon icon-3"></i>
                    </span>
                    商城
                </a>
            </li>
            <li class="<?php if(isset($action)&&$action=='my'){echo 'active';} ?>">
                <a href="/my/index/">
                    <span class="icon-w">
                        <i class="icon icon-4"></i>
                    </span>
                    我的
                </a>
            </li>
        </ul>
    </div>
</div>