
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; Charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <title>登录-Cpphp</title>

        <link href="https://www.3maio.com/static/home/css/article.css" rel="stylesheet" />
        <link rel="shortcut icon" href="https://www.3maio.com/static/home/images/favicon.png" type="image/x-icon">
        <!--Layui-->
        <link href="https://www.3maio.com/static/home/plug/layui/css/layui.css" rel="stylesheet" />
        <!--font-awesome-->
        <link href="https://www.3maio.com/static/home/plug/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

        <link href="https://www.3maio.com/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">

        <!--全局样式表-->
        <link href="https://www.3maio.com/static/home/css/global.css" rel="stylesheet" />
        <!-- 本页样式表 -->
        <link href="https://www.3maio.com/static/home/css/home.css" rel="stylesheet" />

        <style>
            .avatar{
                width: 40px;
                height:40px;
                display: inline-block;
                overflow: hidden;
                line-height: 1;
                vertical-align: middle;
                border-radius: 3px;
            }
            .dropdown .dropdown-menu a{
                color:black;
            }
            .dropdown .dropdown-menu li:hover{
                background: #F3726D;
            }
            .dropdown .dropdown-menu li a:hover{
                background: #F3726D;
            }
        </style>

   

        <link rel="stylesheet" href="https://www.3maio.com/static/home/css/Validform.css">
    </head>
    <body>
        <!-- 主体-->
        <div class="blog-body" style="margin-top: 0px;">

            <!-- 主体内容 -->
            <div class="blog-container">

                <div class="row">

                    <div class="col-md-6 col-md-offset-3">


                        <!-- 处理laravel验证返回的错误 -->

                        <!-- 处理自定义的错误 -->
                    </div>
                </div>        <div class="blog-main">


                    <div class="col-md-8 blog-module shadow">

                        <form action="https://www.3maio.com/w-login" class="login-form" method="post">

                            <input type="hidden" name="_token" value="bDpWqdwpOOwA6yGyGFIqgclO4da3EsQmylf81tsq" />

                            <div class="col-md-12">
                                <div class="form-group">
                                    用户名： <input type="text" placeholder="请输入用户名" nullmsg="请填写用户名" datatype="/^\w{1,100}$/i" errormsg="用户名至少1个字符,最多100个字符！不能包含特殊符号" name="uname" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    密码：<input type="password" name="pass" nullmsg="请填写密码"  datatype="*6-100" errormsg="请输入长度大于6位小于100位的密码" class="form-control" />

                                </div>
                            </div>

                            <div class="col-md-12">

                                <div class="form-group">

                                    <img src="https://www.3maio.com/code" style="cursor: pointer" onclick="this.src = 'https://www.3maio.com/code' + '?id=' + Math.random();" alt="" />

                                    <input type="text" name="code" datatype="*1-10" nullmsg="请填写验证码" placeholder="请输入验证码" class="form-control" />

                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <button class="btn btn-danger btn-lg">登陆</button>
                                    <a href="" class="pull-right text-primary">忘记密码?</a>
                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="clear"></div>

                </div>


            </div>

        </div>
        <!-- 底部 -->
        <footer class="blog-footer">
            <p>
                <span>Copyright</span>
                <span>&copy;</span><span>2017</span>
                <a href="http://www.3maio.com">Cpphp</a>
                <span>Design By Cpphper</span>
            </p>
            <p><a href="http://gdcainfo.miitbeian.gov.cn" target="_blank">粤ICP备17037147号-1</a></p>
        </footer>
        <!--侧边导航-->

        <!-- layui.js -->
        <script src="https://www.3maio.com/static/home/plug/layui/layui.js"></script>
        <!-- 全局脚本 -->
        <script src="https://www.3maio.com/static/home/js/global.js"></script>
        <!-- 本页脚本 -->
        <script src="https://www.3maio.com/static/js/jquery.min.js"></script>
        <script src="https://www.3maio.com/static/js/bootstrap.min.js"></script>

        <script>

                                        $('.search-btn').click(function() {

                                            var searchCon = $('input[name="keywords"]').val();
                                            if (searchCon) {
                                                $('.search-form')[0].submit();
                                            }

                                        });

                                        $(function() {

                                            $('ul.layui-nav > li.layui-nav-item').each(function() {

                                                var aHref = $(this).find($('a')).attr('url');

                                                if (location.pathname == aHref) {

                                                    $(this).addClass('layui-this').siblings().removeClass('layui-this');
                                                }
                                            });

                                        });
        </script>

    </body>
</html>
